<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Sobre Nosotros</h6>
          <p class="text-justify">Broken Arrow Rol Games es una firma libre, creada por fans de juegos de rol con el único propósito de intentar sacar adelante propuestas de juegos con su propia ambientación sin ánimo de lucro. Todo lo que se publique en esta web está bajo las licencias de creative communs.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Paginas De Interes</h6>
          <ul class="footer-links">
            <li><a href="https://dnd.wizards.com/es">Wizards Of The Coast</a></li>
            <li><a href="https://paizo.com/">Paizo</a></li>
            <li><a href="https://foundryvtt.com/">Foundry Virtual Tabletop</a></li>
            <li><a href="https://roll20.net/">Rol20</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Licencias Links</h6>
          <ul class="footer-links">
            <li><a [routerLink]="['/licenciasuno']">Licencia D20SDR</a></li>
            <li><a [routerLink]="['/licenciasdos']">Licencia BRPSRD</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">Broken Arrow Rol Games</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="twitter"  href="https://twitter.com/Brokenarrowrol"><i class="bi bi-twitter"></i></a></li>
            <li><a class="facebook" href="https://www.google.com/intl/es/gmail/about/"><i class="bi bi-envelope"></i></a></li> 
            <li><a class="dribbble" href="https://www.youtube.com/channel/UClr-Ke-U8hDCHLVID_A1q1Q"><i class="bi bi-youtube"></i></a></li>
            <li><a class="linkedin" href="#"><i class="bi bi-house"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
