<p>ruleshome works!</p>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <a class="navbar-brand" [routerLink]="['']"><span class="text-primary">El Legado de Los Ainu</span></a>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr class="dropdown-divider">
    <div class="offcanvas-body">
      <p>Try scrolling the rest of the page to see this option in action.</p>
      
    </div>
    </div>
