<div>
    <img src="./assets/imagenes/headers/Headerhome.jpg" class="img-fluid" alt="...">
    </div>
    <div class="container mt-57">
    <div class="row">
    <div class="col-12">
  
      <div class="row">
        <div class="col-8">
          
          <div class="blog-post mb-3">
              <h2 class="blog-post-title rojo-carmesi mt-5">Ultima Temporada de Juego de Tronos</h2>
              <p class="blog-post-meta">22 Nov, 2019 by <a href="#">Julian</a></p>
              <p>Por fin disponemos de la tan esperada octava temporada en nuestra videoteca de series para su visionado
                por todos nuestros usuarios.</p>
              <hr>
              <p>La octava y última temporada de la serie de televisión de drama y fantasía <a href="#">Game of
                Thrones</a>, producida por HBO, se estrenó el 14 de abril de 2019. La filmación comenzó oficialmente el
              23 de octubre de 2017 y concluyó en julio de 2018.</p>
              
              <blockquote>
                <p>A diferencia de las primeras <strong>seis temporadas</strong>, en las que cada una tuvo diez episodios
                  y la <strong>séptima</strong> que tuvo siete, la octava temporada tuvo seis episodios. Al igual que la
                  temporada anterior, constó en gran medida de contenido original que no se encuentra actualmente en la
                  Canción de hielo y fuego de <strong>George R. R. Martin</strong>, y también se adaptó material que
                  Martin había revelado a productores sobre las próximas novelas de la serie, Vientos de invierno y Sueño
                  de primavera. La temporada fue adaptada para televisión por <strong>David Benioff y D.B. Weiss.</strong>
                </p>
              </blockquote>
              <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                fermentum. Aenean lacinia bibendum nulla sed consectetur.
              </p>
              <a href="#">Continua...</a>
          </div>
  
          <div class="mb-5 text-center">
            <img src="./assets/imagenes/dividers/divider.png" class="img-fluid" alt="...">
          </div>
  
          <div class="blog-post mb-3">
            <h2 class="blog-post-title rojo-carmesi">Segunda Temporada de The Boys</h2>
            <p class="blog-post-meta">20 Nov, 2019 by <a href="#">Julian</a></p>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia
              bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac
              cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            <hr>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
              fermentum. Aenean lacinia bibendum nulla sed consectetur.
            </p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.
            </p>
            <a href="#">Continua...</a>
          </div>
  
  
        </div>
  
        <div class="col-4">
          <div class="blog-sidebar text-black-50">
            <div class="p-4 mt-5 mb-3 bg-light rounded">
  
              <h4 class="font-italic text-primary text-center">Ecos del Tiempo</h4>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>
                  <p class="mb-1">Series Currito es una web que ha nacido para ofrecer las mejores series de calidad
                                  a precios muy pequeños con el fin de otorgar el mejor entretenimiento a todos los hogares.</p>                
  
            </div>
          </div>
        </div>
     
      </div>
  
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <a class="navbar-brand" [routerLink]="['/home']">El Legado De Los Ainu</a>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class="dropdown-divider">
        <div class="offcanvas-body">
          <p>En Construccion.</p>
          
        </div>
        </div>
      </div>
      </div>
      </div>
  
  
